
body{
    background-color: lightgray;
}

button{
    padding: 1px;
    margin: 0px;
    border: 1px solid darkblue;
    text-decoration: none;
}

#cont{
    height: 400px;
}

#icon {
    height: 151px;
    margin: 0 10px 0 0;
    float: left;     
}

#row{
   margin: 0px 0px 0 0; 
   border: 1px solid blue;
   text-align: center;
   width: 75%;
   height: 23px;
   min-width: 400px;
   padding: 0 1px 0 1px;
}

#spacer1{
    border: 1px solid blue;
    height: 128px;
    text-align: center;
    clear: right;
    padding: 0 0 0 0;
    min-width: 400px;
}

.basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    border: 1px solid blue;
    text-align: center;
 }

 .button{
     margin: 0 3px 0 3px;
     height: 22px;
 }

 .cont{
     width: 500px;
     height: 500px;
 }

 div img{
     height: 250px;
 }

 .home{
     margin: 0 0 0 18px;
 }

.nav{
    display: ;
    margin: 0px 0px 0 0px;
}

#img1{
    height: 300px;
}

#p1{
    font-weight: bold;
}

#p2{
    font-size: 24px;
}

#p3{
    line-height: 50px;
}

#span1{
    text-align: center;
    font-size: 30px;
}

#title{
    font-size: 30px;
    padding: 0 0 0 0;
    margin-right: 25%;
}

#subtitle{
    font-size: 15px;
    margin-right: 25%;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
