
body{
    background-color: lightgray;
}

button{
    padding: 1px;
    margin: 0px;
    border: 1px solid darkblue;
    text-decoration: none;
}

#icon {
    height: 150px;
    margin: 0 10px 0 0;
    float: left;     
}

#row{
   margin: 0px 0px 0 0; 
   border: 1px solid blue;
   text-align: center;
   width: 75%;
   height: 19px;
   min-width: 400px;
   padding: 0 1px 0 1px;
}

#spacer1{
    border: 1px solid blue;
    height: 128px;
    
    clear: right;
}

.basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    border: 1px solid blue;
    text-align: center;
 }

.nav{
    display: ;
    margin: 0px 0 0 0;
}

#p1{
    font-weight: bold;
}

#p2{
    font-size: 24px;
}

#p3{
    line-height: 50px;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}